body {
  position: relative;
  font-family: sans-serif;
  font size: 30px;
  text-align: center;
  font-family: "Courier", sans-serif;
  justify-content: center;
  background-color: black;
  /*color: #a10000;*/
}

.block {
  color: #a10000;
}

.blocktwo {
  color: #4ac925;
}
